{{#if data}}
    <section class="slideshow">
        <div class="mask">
            <ul>
                {{#each data}}
                    {{#checkTypeOfPoster type equals="poster" }}
                        <li class="slide {{animation}}" data-animation="{{animation}}" data-duration="{{duration}}" data-type="{{type}}">
                            <img src="/download/{{filename}}" alt="{{type}}" />
                        </li>
                    {{/checkTypeOfPoster}}
                    {{#checkTypeOfPoster type equals="vimeo" }}
                        <li class="slide {{animation}}" data-animation="{{animation}}" data-duration="{{duration}}" data-type="{{type}}">
                            <iframe id="player1" src="https://player.vimeo.com/video/{{vimeoId}}?api=1&?portrait=0&?title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </li>
                    {{/checkTypeOfPoster}}
                {{/each}}
            </ul>
        </div>
    </section>
{{else}}
    <p>
        You have no slidewhow assigned
    </p>
{{/if}}
