{{#if data}}
    <section class="slideshow">
        <div class="mask">
          {{#if error}}
          <div class="warning">
              <small>You have got no screens assigned to this display</small>
          </div>
          {{/if}}
            <ul>
                {{#each data.general}}
                    {{#checktype type equals="poster"}}
                        <li class="slide {{animation}}" data-animation="{{animation}}" data-duration="{{duration}}" data-type="{{type}}" data-color="{{color}}" data-id="{{id}}">
                            <img src="/download/{{filename}}" alt="{{type}}" />
                        </li>
                    {{/checktype}}
                    {{#checktype type equals="vimeo"}}
                        <li class="slide {{animation}}" data-animation="{{animation}}" data-duration="{{duration}}" data-type="{{type}}" data-color="{{color}}" data-id="{{id}}">
                            <iframe id="player{{id}}" src="https://player.vimeo.com/video/{{vimeoId}}?api=1&title=0&byline=0&portrait=0&loop=1" frameborder="0"></iframe>
                        </li>
                    {{/checktype}}
                {{/each}}
            </ul>
        </div>
    </section>
{{else}}
    <p>
        You have no slidewhow assigned
    </p>
{{/if}}
