 {{> nav}}
<section class="main-content scrollable">
    <section class="content-header">
        <h1>Displays</h1>
        <section class="toolbar">
            <div class="icons">
                <a href="/admin/displays/add" title="add" class="btn-action ">
                    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                </a>
                <button type="button" name="button" title="delete" class="btn-action ">
                    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                </button>
            </div>

            <form class="" action="index.html" method="post">
                <button type="button" name="name" class="btn btn-filter">Name</button>
                <button type="button" name="name" class="btn btn-filter">Date</button>
            </form>
        </section>
    </section>
    <section class="content-body">

        {{#if error}}
            <div class="error">
                {{error}}
            </div>
        {{else}}
            <table class="responsive">
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Name</th>
                    <th scope="col">Slideshow</th>
                    <th scope="col">Location</th>
                </tr>
                {{#each data.general.displays}}
                    <tr>
                        <td class="checkboxes">
                            <input type="checkbox" id="field_name_{{display_id}}" name="displays[]" value="{{display_id}}">
                            <label for="field_name_{{display_id}}" title="select"></label>
                        </td>
                        <td data-th="Name">
                            <a href="/display/{{display_id}}">{{name}}</a>
                        </td>

                        <td data-th="Slideshows">
                            <a href="/display/{{display_id}}">
                                  {{#if slideshow_name}}
                                    {{slideshow_name}}
                                  {{else}}
                                    No slideshow
                                  {{/if}}
                                </a>
                        </td>
                        <td data-th="location">
                            <a href="/display/{{display_id}}">{{location}}</a>
                        </td>
                    </tr>
                {{/each}}

            </table>
        {{/if}}
    </section>
</section>
