 {{> nav}}
<section class="main-content">
    <section class="content-header">
        <h1>Displays</h1>
        <section class="toolbar">
            <div class="icons">
                <a href="/admin/displays/add" title="add" class="btn-action ">
                      {{> svg/addicon}}
                </a>
                <button type="button" name="button" title="delete" class="btn-action ">
                      {{> svg/trashicon}}
                </button>
            </div>

            <form class="" action="index.html" method="post">
                <button type="button" name="name" class="btn btn-filter">Name</button>
                <button type="button" name="name" class="btn btn-filter">Date</button>
            </form>
        </section>
    </section>
    <section class="content-body">

        {{#if error}}
            <div class="error">
                {{error}}
            </div>
            <div class="btn-standalone">
              <a href="/admin/display/add" class="btn btn-default ">New display</a>
          </div>
        {{else}}
            <table class="responsive">
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Name</th>
                    <th scope="col">Slideshow</th>
                    <th scope="col">Location</th>
                </tr>
                <!-- loop all displays  -->
                {{#each data.general.displays}}
                    <tr>
                        <td class="checkboxes">
                            <input type="checkbox" id="field_name_{{display_id}}" name="displays[]" value="{{display_id}}">
                            <label for="field_name_{{display_id}}" title="select"></label>
                        </td>
                        <td data-th="Name">
                            <a href="/display/{{display_id}}">{{name}}</a>
                        </td>

                        <td data-th="Slideshows">
                            <a href="/display/{{display_id}}">
                                  {{#if slideshow_name}}
                                    {{slideshow_name}}
                                  {{else}}
                                    No slideshow
                                  {{/if}}
                                </a>
                        </td>
                        <td data-th="location">
                            <a href="/display/{{display_id}}">{{location}}</a>
                        </td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    </section>
</section>
