 {{> nav}}
<section class="content scrollable">
    <section class="content-header">
        <h1>Displays</h1>
        <a href="/admin/displays/add" class="btn btn-default">Add a new display</a>
    </section>
    <section class="content-body">

        {{#if error}}
            <div class="error">
                {{error}}
            </div>
        {{else}}
            <table>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Slideshows</th>
                    <th scope="col">Edit</th>
                </tr>
                {{#each data}}
                    <tr>
                        <td data-th="Id">{{id}}</td>
                        <td data-th="Name"><a href="/display/{{id}}">{{name}}</a></td>
                        <td data-th="Slideshows">{{slideshowId}}</td>
                        <td data-th="Edit"><a href="#">Edit</a></td>
                    </tr>
                {{/each}}

            </table>
        {{/if}}

    </section>
</section>
