 {{> nav}}
<noscript>
    <div class="warning" role="alert">
        <small> Not all functions of the app will work, please enable JS</small>
    </div>
</noscript>
<section class="slideshow-add">
    <!-- the content you can choose from -->
    <section class="slideshow-content">
        <!-- add button  -->
        <button class="add">
            <svg height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="animate">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
        </button>
        <ol id="contentlist">
            {{#each data.general}}
                <li class="contentitem list" draggable="true">
                    <a href="#">
                        <small class="number">{{@index}}</small>
                        <div class="image no-overflow" data-id="{{id}}">
                            {{#checktype type equals="vimeo" }}
                                <div class="play-icon">
                                    <svg fill="#fff" height="50" viewbox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 5v14l11-7z" />
                                        <path d="M0 0h24v24H0z" fill="none" />
                                    </svg>
                                </div>
                                <img src="{{vimeoImage}}" alt="" draggable="false" data-id="{{id}}" />
                            {{/checktype}}
                            {{#checktype type equals="poster" }}
                                <img src="/download/{{filename}}" alt="" draggable="false" data-id="{{id}}" />
                            {{/checktype}}
                        </div>
                    </a>
                </li>
            {{/each}}
        </ol>
    </section>

    <section class="slideshow-picker none">
        <div class="select scrollable">
            {{#each data.allContent}}
                <div>
                    <input class="select-image" type="checkbox" id="lab{{id}}" data-id="{{id}}" data-image="{{filename}}">
                    <div class="image no-overflow">
                        {{#checktype type equals="vimeo" }}
                            <img src="{{vimeoImage}}" alt="" draggable="false" data-id="{{id}}" />
                            <div class="play-icon">
                                <svg fill="#fff" height="50" viewbox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 5v14l11-7z" />
                                    <path d="M0 0h24v24H0z" fill="none" />
                                </svg>
                            </div>
                        {{/checktype}}
                        {{#checktype type equals="poster" }}
                            <img src="/download/{{filename}}" alt="" draggable="false" data-id="{{id}}" />
                        {{/checktype}}
                    </div>

                    <label for="lab{{id}}"></label>
                </div>
            {{/each}}

        </div>
        <button type="button" name="add" class="btn btn-default add-image">Add images</button>
    </section>

    <!-- a preview of the content  -->
    <section class="slideshow-preview fade-in animate">
        {{#if data.general.0.filename}}
            <img src="/download/{{data.general.0.filename}}" alt="content" />
        {{else}}
            <img src="/img/add-screen.jpg" alt="add screen image" />
        {{/if}}
    </section>

    <section class="right-panel scrollable">
        <a href="/admin/slideshows/preview/{{data.specificId}}" class="btn btn-default slideshow-button">Preview '{{data.general.1.slideshow_name}}'</a>
        <!-- <a href="#" class="btn btn-general left-rigt-margin">Preview</a> -->
        <section class="toggle-buttons" role="tablist">
            <button id="settings" type="button" name="button" aria-selected="true">Settings</button>
            <button id="content" type="button" name="button" aria-selected="false">Screen</button>
            <button id="displays" type="button" name="button" aria-selected="false">Displays</button>
        </section>

        <section aria-hidden="false" class="tabcontent">
            <form action="{{postUrl.settings}}" method="post">
                <h2>Slideshow settings</h2>
                <div>
                    <label for="field-name">Title: </label>
                    <input type="text" id="field-name" name="name" value="{{data.general.1.slideshow_name}}" placeholder="Won't show in the slideshow">
                </div>

                <div>
                    <label for="field-discription">Discription: </label>
                    <textarea name="discription" rows="2" cols="40" value="{{data.general.1.slideshow_discription}}" id="field-discription" placeholder="Won't show in the slideshow"></textarea>
                </div>
                <button class="btn btn-default top-margin" type="submit">Save</button>
            </form>
        </section>
        <section class="slideshow-content-settings scrollable tabcontent" aria-hidden="true">
            <form action="{{postUrl.content}}" method="post">
                <h2>Edit poster or vimeo</h2>
                <div>
                    <label for="field-animation">Animation: </label>
                    <div class="select-icon">
                        <select name="animation" id="field-animation">
                            <option value="fadein">fade in</option>
                            <!-- <option value="pop">pop</option> -->
                            <option value="top-push">push from top</option>
                            <option value="left-push">push from left</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="field-duration">Duration: </label>
                    <input type="number" id="field-duration" name="duration" value="" placeholder="60 (s)">
                </div>
                <div>
                    <label for="field-date-start">Start date: </label>
                    <input type="date" id="field-date-start" name="dateStart" value="" placeholder="DD-MM-JJJJ">
                </div>
                <div>
                    <label for="field-date-end">End date: </label>
                    <input type="date" id="field-date-end" name="dateEnd" value="" placeholder="DD-MM-JJJJ">
                </div>
                <button class="btn btn-default top-margin" type="submit">Save</button>
            </form>
        </section>
        <section aria-hidden="true" class="tabcontent">
            <form action="{{postUrl.displays}}" method="post">
                <h2>Conect to displays</h2>
                {{#each data.allDisplays}}
                    <div class="checkboxes">
                        <input type="checkbox" id="field_name_{{display_id}}" name="displays[]" value="{{display_id}}" {{#issame id ../data.specificId}} checked {{/issame}}>
                        <label for="field_name_{{display_id}}">{{name}}</label>

                        {{#isother slideshowId ../data.specificId}}
                            <div class="tooltip">This display is already assignd to an another. If you assign it it will show this slideshow.</div>
                        {{/isother}}
                    </div>
                {{/each}}


                <button class="btn btn-default top-margin" name="slideshowId" value="{{data.specificId}}" type="submit">Save</button>
            </form>
        </section>

    </section>

</section>
