 {{> nav}}
<noscript>
    <div class="js-warning">
        <small> Not all functions of the app will work, please enable JS</small>
    </div>
</noscript>
<section class="slideshow-add">
    <!-- the posters you can choose from -->
    <section class="slideshow-content scrollable">
        <!-- add button  -->

        <button class="add">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="animate">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
        </button>
        <ul id="posterlist">
            <!-- {{#each data.posters}}
                <li class="posteritem list" draggable="true">
                    <a href="#">
                        <small class="number">{{@index}}</small>
                        <div class="image no-overflow" data-id="{{id}}">
                            <img src="/download/{{filename}}" alt="" draggable="false" />
                        </div>
                    </a>
                </li>
            {{/each}} -->
        </ul>
    </section>

    <section class="slideshow-picker none">
        <div class="select scrollable">
            {{#each data.posters}}
                <div>
                    <input class="select-image" type="checkbox" id="lab{{id}}" name="chk{{id}}" data-id="{{id}}" data-image="{{filename}}">
                    <div class="image no-overflow">
                        <img src="/download/{{filename}}" alt="" />
                    </div>
                    <label for="lab{{id}}"></label>
                </div>
            {{/each}}

        </div>
        <button type="button" name="add" class="btn btn-default add-image">Add images</button>
    </section>

    <!-- a preview of the poster  -->
    <section class="slideshow-preview">
        <img src="/img/no-poster.jpg" alt="no poster image" />
    </section>

    <section class="slideshow-poster-settings scrollable">
        <form action="{{postUrl}}" method="post" enctype="multipart/form-data">
            <h2>Edit poster</h2>
            <div class="">
                <label for="field_animation">Animation: </label>
                <div class="select-icon">
                    <select class="" name="animation">
                        <option value="pop">pop</option>
                        <option value="top-push">push from top</option>
                        <option value="left-push">push from left</option>
                    </select>
                </div>
            </div>
            <div class="">
                <label for="field_duration">Duration: </label>
                <div class="select-icon">
                    <select class="" name="duration">
                        <option value="10">10 sec</option>
                        <option value="20">20 sec</option>
                        <option value="30">30 sec</option>
                        <option value="40">40 sec</option>
                        <option value="50">50 sec</option>
                        <option value="60">1 min</option>
                        <option value="90">1,5 min</option>
                        <option value="120">2 min</option>
                    </select>
                </div>
            </div>
            <div class="">
                <label for="field_date_start">Start date: </label>
                <input type="date" id="field_date_start" name="dateStart" value="" placeholder="dd-mm-jj">
            </div>
            <div class="">
                <label for="field_date_end">End date: </label>
                <input type="date" id="field_date_end" name="dateEnd" value="" placeholder="dd-mm-jj">
            </div>

            <button class="btn btn-default bottum-top-margin">Save</button>
        </form>
    </section>
</section>
