 {{> nav}}
<noscript>
    <div class="warning" role="alert">
        <small> Not all functions of the app will work, please enable JS</small>
    </div>
</noscript>
<section class="slideshow-add">
    <!-- the posters you can choose from -->
    <section class="slideshow-content scrollable">
        <!-- add button  -->

        <button class="add">
            <svg height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="animate">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
        </button>
        <ol id="posterlist">
            {{#each data.general}}
                <li class="posteritem list" draggable="true">
                    <a href="#">
                        <small class="number">{{@index}}</small>
                        <div class="image no-overflow" data-id="{{id}}">
                          {{#checkTypeOfPoster type equals="vimeo" }}
                              <div class="play-icon">
                                  <svg fill="#fff" height="50" viewbox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M8 5v14l11-7z" />
                                      <path d="M0 0h24v24H0z" fill="none" />
                                  </svg>
                              </div>
                          {{/checkTypeOfPoster}}
                            <img src="/download/{{filename}}" alt="" draggable="false" data-id="{{id}}" />
                        </div>

                    </a>
                </li>
            {{/each}}
        </ol>
    </section>

    <section class="slideshow-picker none">
        <div class="select scrollable">
            {{#each data.allPosters}}
                <div>
                    <input class="select-image" type="checkbox" id="lab{{id}}" data-id="{{id}}" data-image="{{filename}}">
                    <div class="image no-overflow">
                        <img src="/download/{{filename}}" alt="" />
                        {{#checkTypeOfPoster type equals="vimeo" }}
                            <div class="play-icon">
                                <svg fill="#fff" height="50" viewbox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 5v14l11-7z" />
                                    <path d="M0 0h24v24H0z" fill="none" />
                                </svg>
                            </div>
                        {{/checkTypeOfPoster}}
                    </div>

                    <label for="lab{{id}}"></label>
                </div>
            {{/each}}

        </div>
        <button type="button" name="add" class="btn btn-default add-image">Add images</button>
    </section>

    <!-- a preview of the poster  -->
    <section class="slideshow-preview">
        {{#if data.general.0.filename}}
            <img src="/download/{{data.general.0.filename}}" alt="poster" />
        {{else}}
            <img src="/img/add-poster.jpg" alt="add poster image" />
        {{/if}}
    </section>

    <section class="right-panel scrollable">
        <a href="#" class="btn btn-default slideshow-button">Run slideshow</a>
        <!-- <a href="#" class="btn btn-general left-rigt-margin">Preview</a> -->
        <section class="toggle-buttons" role="tablist">
            <button id="settings" type="button" name="button" aria-selected="true">Settings</button>
            <button id="posters" type="button" name="button" aria-selected="false">Poster</button>
            <button id="displays" type="button" name="button" aria-selected="false">Displays</button>
        </section>

        <section aria-hidden="false" class="tabcontent">
            <form action="{{postUrl.settings}}" method="post">
                <h2>Slideshow settings</h2>
                <div>
                    <label for="field_name">Name: </label>
                    <input type="date" id="field_name" name="name" value="{{data.general.1.slideshow_name}}">
                </div>
                <div>
                    <label for="field_discription">Discription: </label>
                    <input type="date" id="field_discription" name="discription" value="{{data.general.1.slideshow_discription}}">
                </div>
                <button class="btn btn-default top-margin">Save</button>
            </form>
        </section>
        <section class="slideshow-poster-settings scrollable tabcontent" aria-hidden="true">
            <form action="{{postUrl.posters}}" method="post">
                <h2>Edit poster</h2>
                <div>
                    <label for="field_animation">Animation: </label>
                    <div class="select-icon">
                        <select name="animation" id="field_animation">
                            <option value="pop">pop</option>
                            <option value="top-push">push from top</option>
                            <option value="left-push">push from left</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="field-duration">Duration: </label>
                    <input type="number" id="field-duration" name="duration" value="" placeholder="60 (is one min)">
                </div>
                <div>
                    <label for="field_date_start">Start date: </label>
                    <input type="date" id="field_date_start" name="dateStart" value="" placeholder="dd-mm-jj">
                </div>
                <div>
                    <label for="field_date_end">End date: </label>
                    <input type="date" id="field_date_end" name="dateEnd" value="" placeholder="dd-mm-jj">
                </div>

                <button class="btn btn-default top-margin">Save</button>
            </form>
        </section>
        <section aria-hidden="true" class="tabcontent">
            <form action="{{postUrl.displays}}" method="post">
                <h2>Conect to displays</h2>
                {{#each data.general}}
                    <div>
                        <input type="checkbox" id="field_name{{id}}" name="name" value="">
                        <label for="field_name{{id}}">{{name}}</label>
                    </div>
                {{/each}}

                <button class="btn btn-default top-margin">Save</button>
            </form>
        </section>

    </section>

</section>
