 {{> nav}}
<section class="content scrollable">

    <h1>Slidehows</h1>
    {{#if error}}
        <div class="error">
            {{error}}
        </div>
    {{else}}
        <table>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">discription</th>
                <th scope="col">posters</th>
            </tr>
            {{#each data}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{discription}}</td>
                    <td>{{posters}}</td>
                    <td><a href="#">Edit</a></td>
                </tr>
            {{/each}}

        </table>
    {{/if}}

</section>
