 {{> nav}}
<section class="content scrollable">
  <section class="content-header">
      <h1>Slidehows</h1>
        <a href="/admin/displays/add" class="btn btn-default left-rigt-margin">New display</a>
      <a href="/admin/slideshows/add" class="btn btn-default left-rigt-margin">New slideshow</a>
  </section>
  <section class="content-body">
    {{#if error}}
        <div class="error">
            {{error}}
        </div>
    {{else}}
        <table>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <!-- <th scope="col">Posters</th> -->
                <th scope="col">Edit</th>
            </tr>
            {{#each data.general}}
                <tr>
                    <td data-th="Id">{{id}}</td>
                    <td data-th="Discription">{{slideshow_name}}</td>
                    <!-- <td data-th="Posters">{{posters}}</td> -->
                    <td data-th="Edit"><a href="/admin/slideshows/add/{{id}}">Edit</a></td>
                </tr>
            {{/each}}

        </table>
    {{/if}}
  </section>



</section>
