{{> nav}}
<section class="main-content">
    <section class="content-header">
        <h1>Dashboard</h1>
    </section>
    <article class="card">
        <section class="card-header">
            <h2>Content</h2>
        </section>
        <section class="card-body">
            <p>You have <strong>{{data.general.content}}</strong> poster(s) or vimeo video(s).
                {{#if rights.admin}}
                    From these poster(s) or vimeo video(s) are <strong>{{data.general.uncheckedContent}}</strong> uncheked.
                {{/if}}
                For more information go to display page.</p>
        </section>
        <a href="/admin/content" class="btn btn-default">Show content</a>
        <a href="/admin/content/add" class="btn btn-default">Ad new content</a>
    </article>

    {{#if rights.admin}}
        <article class="card">
            <section class="card-header">
                <h2>Slideshows</h2>
            </section>
            <section class="card-body">
                <p>There are now <strong>{{data.general.slideshowscontent}}</strong> posters or vimeo video's in your slideshow. For more details go to the slideshow page. </p>
                <!-- <strong>{{data.general.slideshows}}</strong> -->
            </section>
            <a href="/admin/slideshows" class="btn btn-default">Show slideshow</a>
        </article>

        <article class="card">
            <section class="card-header">
                <h2>Displays</h2>
            </section>
            <section class="card-body">
                <p>There are <strong>{{data.general.displays}}</strong> displays. For more information go to display page.</p>
            </section>
            <a href="/admin/displays" class="btn btn-default">Show displays</a>
        </article>
    {{/if}}

</section>
