 {{> nav}}

<section class="content scrollable">
    <section class="content-header">
        <h1>Add a screen</h1>
    </section>
    <section class="content-body add-screen">

        <!-- <div id="messages">
        <p>Status Messages</p>
      </div> -->

        <form action="{{postUrl.general}}" method="post" enctype="multipart/form-data">
            {{#if error}}
                <div class="error">
                    {{error}}
                </div>
            {{/if}}
            <div>
                <ul id="radio-option-field">
                    <li>
                        <input type="radio" name="type" value="poster" id="field-screen" checked>
                        <label for="field-screen">Poster</label>
                    </li>

                    <li>
                        <input type="radio" name="type" value="vimeo" id="field-vimeo">
                        <label for="field-vimeo">Vimeo video</label>
                    </li>
                </ul>
            </div>

            <div class="file-input">
                <span class="filename" id="filename">Select your file</span>
                <label for="field-file" class="btn btn-default ">Browse
                    <input type="file" name="imageFile" for="hio" value="" id="field-file" required>
                </label>
            </div>

            <div id="vimeo-id-input">
                <label for="field-vimeo-id">Vimeo id: </label>
                <input type="text" id="field-vimeo-id" name="vimeoId" value="{{data.general.vimeoId}}" placeholder="125229524" required>
                <span class="error" id="vimeo-id-error"></span>
            </div>

            <div>
                <label for="field-name">Title: </label>
                <input type="text" id="field-name" name="name" value="{{data.general.name}}" placeholder="Won't show in the slideshow">
            </div>
            <div id="vimeo-image">
                <label for="field-vimeoImage">Vimeo preview image: </label>
                <input type="text" id="field-vimeoImage" name="vimeoImage" value="/download/no-poster.png" placeholder="https://vimeo.com/image">
            </div>
            <div>
                <label for="field-discription">Discription: </label>
                <textarea name="discription" rows="2" cols="40" value="{{data.general.discription}}" id="field-discription" placeholder="Won't show in the slideshow"></textarea>
            </div>

            <div>
                <label for="field-animation">Animation: </label>
                <div class="select-icon">
                    <select class="" name="animation" id="field-animation">
                        <option value="fadein">fade in</option>
                        <!-- <option value="pop">pop</option> -->
                        <option value="top-push">push from top</option>
                        <option value="left-push">push from left</option>
                    </select>
                </div>
            </div>
            <div>
                <label for="field-color">Background color: </label>
                <input type="color" name="color" id="field-color" value="{{data.general.color}}" placeholder="#FFCC00 (background of the slideshow)">
                <small class="error" id="color-error"></small>
            </div>

            <div>
                <label for="field-duration">Duration: </label>
                <input type="number" id="field-duration" name="duration" min="10" max="400" value="{{data.general.duration}}" placeholder="60 (s)" required>
            </div>

            <div>
                <label for="field-date-start">Start date: </label>
                <input type="date" id="field-date-start" name="dateStart" value="{{data.general.dateStart}}" min="01-06-2016" placeholder="DD-MM-JJJJ" required>
            </div>

            <div>
                <label for="field-date-end">End date: </label>
                <input type="date" id="field-date-end" name="dateEnd" value="{{data.general.dateEnd}}" min="01-06-2016" placeholder="DD-MM-JJJJ" required>
            </div>

            <button class="btn btn-default top-margin">Submit</button>

            <a href="/admin/screens" class="btn top-margin">Cancel</a>

        </form>
        <section class="preview">
            <h2>Preview of the screen</h2>
            <div class="preview-size">
                <img src="/img/no-screen.jpg" alt="" id="input-preview" class="img-preview" />
            </div>
        </section>


    </section>


</section>
