 {{> nav}}
<section class="content scrollable">
    <section class="content-body">
        <h1>{{data.general.name}} </h1>
    </section>
    <section class="content-body">
        <article class="">
          {{#checktype data.general.type equals="poster"}}
                  <img src="/download/{{data.general.filename}}" alt="{{type}}" />
          {{/checktype}}
          {{#checktype data.general.type equals="vimeo"}}
                  <iframe id="player1" src="https://player.vimeo.com/video/{{data.general.vimeoId}}?api=1&?portrait=0&?title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          {{/checktype}}


            <h2>Discription</h2>
            <p>
                {{data.general.discription}}
            </p>
        </article>

        <table>
            <tr>
                <th>Duration</th>
                <td>{{data.general.duration}}</td>
            </tr>
            <tr>
                <th>Animation</th>
                <td>{{data.general.animation}}</td>
            </tr>
            <tr>
                <th>type</th>
                <td>{{data.general.type}}</td>
            </tr>
            <tr>
                <th>date_begin</th>
                <td>{{data.general.dateStart}}</td>
            </tr>
            <tr>
                <th>date_end</th>
                <td>{{data.general.dateEnd}}</td>
            </tr>
            <tr>
                <th>dataCreated</th>
                <td>{{data.general.dataCreated}}</td>
            </tr>
        </table>
        <p>
            {{data.general.diaDiscription}} {{data.general.diaduration}}
        </p>
    </section>
</section>
