 {{> nav}}
<section class="content scrollable">
    <section class="content-body">
        <h1>{{data.general.diaId}} </h1>
    </section>
    <section class="content-body">
        <article class="">
            <h2>Discription</h2>
            <img src="/download/{{data.general.filename}}" alt="" />
            <p>
                {{data.general.discription}}
            </p>
        </article>
        <table>
            <tr>
                <th>Duration</th>
                <td>{{data.general.duration}}</td>
            </tr>
            <tr>
                <th>Animation</th>
                <td>{{data.general.animation}}</td>
            </tr>
            <tr>
                <th>type</th>
                <td>{{data.general.type}}</td>
            </tr>
            <tr>
                <th>date_begin</th>
                <td>{{data.general.dateStart}}</td>
            </tr>
            <tr>
                <th>date_end</th>
                <td>{{data.general.dateEnd}}</td>
            </tr>
            <tr>
                <th>dataCreated</th>
                <td>{{data.general.dataCreated}}</td>
            </tr>
        </table>
        <p>
            {{data.general.diaDiscription}} {{data.general.diaduration}}
        </p>
    </section>
</section>
