<section class="edit-nav">
  <ul>
      <li><a href="/admin/posters">Posters</a></li>
      <li><a href="/admin/displays">Displays</a></li>
      <li><a href="/admin/slideshows">slideshows</a></li>
      <li><a href="/admin/users">Users</a></li>
  </ul>
</section>
<section>
    <h1>Your posters</h1>
    {{#if data}}
          <a href="/admin/posters/add">Add new poster</a>
        {{data.filename}}
        {{#each data}}
            {{data}}
            <a href="/admin/posters/show/{{id}}">
                <img src="/download/{{filename}}" alt="" />
            </a>
        {{/each}}
    {{else}}
        <p>
            You have got no posters please add one
        </p>
        <a href="/edit/posters">New poster</a>
    {{/if}}
</section>
