 {{> nav}}
<section class="content scrollable">
    <section class="content-header">
        <h1>Your posters</h1>
        <a href="/admin/posters/add">Add new poster</a>
    </section>

    {{#if data}}
        {{data.filename}}
        {{#each data}}
            {{data}}
            <a href="/admin/posters/show/{{id}}">
                <img src="/download/{{filename}}" alt="" />
                <p>
                    {{name}}
                </p>
            </a>
        {{/each}}
    {{else}}
        <p>
            You have got no posters please add one
        </p>
        <a href="/admin/posters/add">New poster</a>
    {{/if}}
</section>
