<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- for Google -->
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{tags}}">

    <meta name="author" content="Matthias Dolstra">
    <meta name="application-name" content="Digital screens" />
    <meta name="robots" content="index">

    <!-- progressive web app -->
    <link rel="manifest.json" />

    <!-- theme color -->
    <meta name="msapplication-navbutton-color" content="#fc0">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fc0">
    <meta name="theme-color" content="#fc0" />

    <!-- favicons -->
    <link rel="mask-icon" href="/favicon.svg" color="#fc0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="localhost:7000/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
    <meta name="msapplication-TileColor" content="#fc0">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">

    <style media="screen">
        .loader,.no-overflow,header ul{overflow:hidden}.btn,a,header ul>li>a{text-decoration:none}.btn,header>nav{box-sizing:border-box}body,div,h1,header,html,img,li,nav,section,small,ul{margin:0;padding:0;border:0}body,html{width:100%;height:100%;margin:0;background:#efecea}main{width:100%;height:calc(100% - 60px)}img{max-width:100%}.none{display:none!important}.scrollable{overflow-y:auto}.right{float:right}@media (min-width:30em){main{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-line-pack:stretch;align-content:stretch;margin:0 auto}}html{font-size:1.1em}body{-webkit-font-smoothing:antialiased;font-family:Open Sans,Helvetica Neue,Roboto,Helvetica,Arial,sans-serif;font-weight:400;line-height:1.45}h1{line-height:1.2;margin:0;font-size:3.157em;font-weight:700}a,small{font-weight:100}small{font-size:.707em}a{font-size:1em}.btn{display:inline-block;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;min-width:8em;max-width:30em;height:2.4em;margin:auto;padding:.5em 1em;border:none;border-radius:.21em;color:#000;font-size:100%;font-weight:400;text-align:center;z-index:1}.btn-default{background-color:#009b8f;color:#fff}.loader{width:100%;position:fixed;top:0;left:0;z-index:8}.loader,.loader:before{display:block;height:.3em}.loader:before{position:absolute;content:"";left:-30em;width:30em;background-color:#009b8f}header>nav{position:relative;width:100%;min-width:13em;padding:1em;border-bottom-width:.065rem;border-bottom-style:solid;border-bottom-color:hsla(0,0%,100%,.22);background:#000;z-index:6}header ul{margin:0;padding:0;list-style-type:none}header ul>li{float:left}header ul>li.right{float:right}header ul>li>a{display:block;padding:.35em 1em 0 0;color:#fff;font-size:.8em;font-weight:400;text-transform:uppercase}.content{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-line-pack:start;align-content:flex-start;-ms-grid-row-align:flex-end;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;padding:1em}.content,.content-header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-direction:normal}.content-header{-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;width:100%;margin-bottom:1em}.content-header h1{display:inline-block;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;width:100%}.content-body{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-wrap:wrap;flex-wrap:wrap}.edit-nav li,.screen,.screen .image,.screen img{display:inline-block}@media (min-width:30em){.content-header{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}}@media (min-width:40em){.content-body{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}.content-body img{max-height:80vh}}.screen{position:relative;margin:.2em}.screen img{margin:0;padding:0}.screen .check{position:absolute;top:0;right:0;z-index:2}.screen .check svg{width:2.9em}.edit-nav,.edit-nav a,.edit-nav li{width:auto;text-align:center}.edit-nav{position:-webkit-sticky;position:sticky;top:0;min-width:4em;background:#fc0;z-index:3}.edit-nav a{display:block;padding:.5em}.edit-nav small{display:none;font-size:.8em}@media screen and (min-width:30em){.edit-nav li{display:inline-block;width:100%}.edit-nav a{display:block;padding:1em;border-bottom-width:.065rem;border-bottom-style:solid;border-bottom-color:#000;color:#000;text-align:center}}@media screen and (min-width:40em){.screen .image{height:20em}.screen{max-width:15em}.edit-nav{min-width:8em;max-width:8em}.edit-nav a{display:-webkit-box;display:-ms-flexbox;display:flex;text-align:left}.edit-nav small{display:inline-block;height:100%;margin:auto 0;vertical-align:center}.edit-nav svg{margin-right:1em}}.no-flexbox .edit-nav{display:block;max-width:100%}.no-flexbox .content{display:inline-block}@media screen and (min-width:30em){.no-flexbox .edit-nav{display:block;max-width:6em;float:left;height:100%}.no-flexbox .content{width:70%;float:left}}@media screen and (min-width:40em){.no-flexbox .edit-nav{max-width:8em}.no-flexbox .edit-nav a{height:2.5em}.no-flexbox .edit-nav svg{display:block;margin:0 auto}.no-flexbox .edit-nav small{display:block;text-align:center}}@media screen and (min-width:55em){.no-flexbox .edit-nav{max-width:8em}.no-flexbox .edit-nav small{float:right;padding:.2em;text-align:left;width:60%}.no-flexbox .edit-nav a{height:1.5em}.no-flexbox .edit-nav svg{display:inline-block;margin:0}}
    </style>

    <noscript>
        <link rel="stylesheet" href="/css/style.css">
    </noscript>
    <title>Digital screens | {{title}}</title>
</head>

<body>
    <header role="banner">
        <nav class="{{navPosition}}">
            <ul>
                <li><a href="/">Home</a></li>
                {{#if rights.logedin}}
                    <li><a href="/admin">Admin</a> </li>
                    <li class="right"><a href="/users/logout">log out</a></li>
                {{else}}
                    <li class="right"><a href="/users/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    <script>
      !function(e){"use strict";var t=function(t,n,o){function i(e){return s.body?e():void setTimeout(function(){i(e)})}function r(){a.addEventListener&&a.removeEventListener("load",r),a.media=o||"all"}var d,s=e.document,a=s.createElement("link");if(n)d=n;else{var l=(s.body||s.getElementsByTagName("head")[0]).childNodes;d=l[l.length-1]}var f=s.styleSheets;a.rel="stylesheet",a.href=t,a.media="only x",i(function(){d.parentNode.insertBefore(a,n?d:d.nextSibling)});var u=function(e){for(var t=a.href,n=f.length;n--;)if(f[n].href===t)return e();setTimeout(function(){u(e)})};return a.addEventListener&&a.addEventListener("load",r),a.onloadcssdefined=u,u(r),a};"undefined"!=typeof exports?exports.loadCSS=t:e.loadCSS=t}("undefined"!=typeof global?global:this),loadCSS("/css/style.css");
    </script>
    <script src="/js/app.js" language="javascript"></script>
</body>

</html>
