<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- for Google -->
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{tags}}">

    <meta name="author" content="Matthias Dolstra">
    <meta name="application-name" content="" />
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- progressive web app -->
    <link rel="manifest.json" />

    <!-- theme color -->
    <meta name="msapplication-navbutton-color" content="#fc0">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fc0">
    <meta name="theme-color" content="#fc0" />

    <!-- favicons -->
    <link rel="mask-icon" href="/favicon.svg" color="#fc0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="localhost:7000/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
    <meta name="msapplication-TileColor" content="#fc0">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">

    <style media="screen">
      .btn,a,header ul>li>a{text-decoration:none}.card-header,.content-header,body,header>nav,html,main{width:100%}article,body,h1,h2,header,html,li,nav,p,section,small,span,ul{margin:0;padding:0;border:0}body,html{height:100%;margin:0;background:#efecea}main{height:calc(100% - 60px)}.bold{font-size:1em;font-weight:700}.scrollable{overflow-y:auto}.right{float:right}@media (min-width:30em){main{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-line-pack:stretch;align-content:stretch;margin:0 auto}}html{font-size:1.1em}body{-webkit-font-smoothing:antialiased;font-family:Open Sans,Helvetica Neue,Roboto,Helvetica,Arial,sans-serif;font-weight:400;line-height:1.45}h1,h2{line-height:1.2}h1{margin:0;font-size:3.157em;font-weight:700}.btn,h2,header ul>li>a{font-weight:400}h2{font-size:1.8em}p{font-size:1em;font-weight:200}small{font-weight:100}small,span{font-size:.707em}span{font-weight:300}a{font-size:1em;font-weight:100}.btn{box-sizing:border-box;display:inline-block;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;height:2.4em;margin:auto;min-width:8em;max-width:30em;padding:.5em 1em;border:none;border-radius:.21em;color:#000;font-size:100%;text-align:center;z-index:1}.btn-default{background-color:#009b8f;color:#fff}header>nav{background:#000;border-bottom-color:hsla(0,0%,100%,.22);border-bottom-style:solid;border-bottom-width:.065rem;box-sizing:border-box;min-width:13em;padding:1em;position:relative;z-index:5}header ul{list-style-type:none;margin:0;overflow:hidden;padding:0}header ul>li{float:left}header ul>li.right{float:right}header ul>li>a{color:#fff;display:block;font-size:.8em;padding:.35em 1em 0 0;text-transform:uppercase}.content{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;padding:1em}.content,.content-header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-direction:normal}.content-header h1,.edit-nav li{display:inline-block}.content-header{-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;margin-bottom:1em}.content-header h1{width:100%;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.card{min-width:10em;min-height:10em;margin:.5em;padding:.5em;background:#fff;box-shadow:4px 4px 8px 0 rgba(0,0,0,.14902)}.edit-nav,.edit-nav a,.edit-nav li{width:auto;text-align:center}.card-body{max-width:20em;margin:.5em 1em 1em 0}@media (min-width:30em){.content-header{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.card{min-width:15em;padding:1em}}.edit-nav{position:-webkit-sticky;position:sticky;top:0;min-width:4em;background:#fc0;z-index:3}.edit-nav a{display:block;padding:.5em}.edit-nav small{display:none;font-size:.8em}@media screen and (min-width:30em){.edit-nav li{display:inline-block;width:100%}.edit-nav a{display:block;padding:1em;border-bottom-width:.065rem;border-bottom-style:solid;border-bottom-color:#000;color:#000;text-align:center}}@media screen and (min-width:40em){.edit-nav{min-width:8em;max-width:8em}.edit-nav a{display:-webkit-box;display:-ms-flexbox;display:flex;text-align:left}.edit-nav small{display:inline-block;height:100%;margin:auto 0;vertical-align:center}.edit-nav svg{margin-right:1em}}
    </style>

    <noscript>
        <link rel="stylesheet" href="/css/style.css">
    </noscript>
    <title>Digital screens | {{title}}</title>
</head>

<body>
    <header role="banner">
        <nav class="{{navPosition}}">
            <ul>
                <li><a href="/">Home</a></li>
                {{#if rights.logedin}}
                    <li><a href="/admin">Admin</a> </li>
                    <li class="right"><a href="/users/logout">log out</a></li>
                {{else}}
                    <li class="right"><a href="/users/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    <script>
      !function(e){"use strict";var t=function(t,n,o){function i(e){return s.body?e():void setTimeout(function(){i(e)})}function r(){a.addEventListener&&a.removeEventListener("load",r),a.media=o||"all"}var d,s=e.document,a=s.createElement("link");if(n)d=n;else{var l=(s.body||s.getElementsByTagName("head")[0]).childNodes;d=l[l.length-1]}var f=s.styleSheets;a.rel="stylesheet",a.href=t,a.media="only x",i(function(){d.parentNode.insertBefore(a,n?d:d.nextSibling)});var u=function(e){for(var t=a.href,n=f.length;n--;)if(f[n].href===t)return e();setTimeout(function(){u(e)})};return a.addEventListener&&a.addEventListener("load",r),a.onloadcssdefined=u,u(r),a};"undefined"!=typeof exports?exports.loadCSS=t:e.loadCSS=t}("undefined"!=typeof global?global:this),loadCSS("/css/style.css");
    </script>

    <script src="/js/app.js" language="javascript"></script>
</body>

</html>
