<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- for Google -->
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{tags}}">

    <meta name="author" content="Matthias Dolstra">
    <meta name="application-name" content="Digital content" />
    <meta name="robots" content="index">

    <!-- progressive web app -->
    <link rel="manifest" href="/manifest.json">

    <!-- theme color -->
    <meta name="msapplication-navbutton-color" content="#fc0">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fc0">
    <meta name="theme-color" content="#fc0" />

    <!-- favicons -->
    <link rel="mask-icon" href="/favicon.svg" color="#fc0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="localhost:7000/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
    <meta name="msapplication-TileColor" content="#fc0">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    {{{piwik}}}
    <style media="screen">
        .btn,.btn-action,a,header ul>li>a{text-decoration:none}.btn,.btn-action,.edit-nav,header>nav{box-sizing:border-box}.warning small,html{font-size:1.1em}body,h1{font-weight:400}.btn-action svg,.content-header svg{fill:#777474}body,html,main{width:100%;height:100%}body,div,figure,form,h1,header,html,img,li,nav,section,small,ul{margin:0;padding:0;border:0}body,html{margin:0;background:#efecea}main{height:calc(100% - 60px)}img{max-width:100%}.btn,.warning{max-width:30em}.no-overflow{overflow:hidden}.scrollable{overflow-y:auto}.right{float:right}.none{visibility:hidden;display:none!important}.warning{width:80%;position:absolute;top:0;right:0;left:0;margin:1em auto 0;text-align:center;z-index:7}.warning small{padding:.2em .5em;border-radius:.21em;background:#eb5d56;color:#fff}body{-webkit-font-smoothing:antialiased;font-family:Open Sans,Helvetica Neue,Roboto,Helvetica,Arial,sans-serif;line-height:1.45}h1{line-height:1.2;margin:0;font-size:2.157em}.btn,.btn-action{display:inline-block;text-align:center;z-index:1;margin:auto}a,small{font-weight:100}small{font-size:.707em}a{font-size:1em}.btn,header ul>li>a{font-weight:400}.btn{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;height:2.4em;line-height:1.45;padding:.5em 1em;border:none;border-radius:.21em;color:#000;font-size:100%}.btn-filter{padding:.3em;min-width:inherit;background:0 0;color:#777474;font-size:.8em;height:auto}.btn-filter.expired{color:#fff;background:rgba(0,156,144,.52)}.btn-action{border:none;background:0 0;color:#c4c4c3;position:relative}.btn-action:before{content:'';position:absolute;top:-.5em;right:-.5em;bottom:-.5em;left:-.5em}.loader{position:fixed;top:2.6em;top:0;left:0;width:100%;overflow:hidden;z-index:4;z-index:8}.loader,.loader:before{display:block;height:.3em}.loader:before{position:absolute;left:-30em;width:30em;background-color:#009b8f;content:""}header>nav{position:relative;width:100%;min-width:13em;padding:1em;border-bottom-width:.065rem;border-bottom-style:solid;border-bottom-color:hsla(0,0%,100%,.22);background:#000;z-index:6}.content .image,.edit-nav{background:#fc0}header ul{margin:0;padding:0;overflow:hidden;list-style-type:none}header ul>li{display:inline-block}header ul>li>a{display:block;padding:.35em 1em 0 0;color:#fff;font-size:.8em;text-transform:uppercase}.main-content{display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-line-pack:start;align-content:flex-start;-ms-grid-row-align:flex-end;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;padding:1em}.content-header h1,.toolbar{-webkit-box-flex:1;width:100%}.content-header{width:100%;margin-bottom:1em;padding:0 0 .5em;border-bottom:.1em solid #c4c4c3}.content-header h1{display:block;-ms-flex-positive:1;flex-grow:1}.content-header button[disabled] svg{fill:#c4c4c3}.content-header a,.content-header button,.content-header div{display:inline-block}.toolbar{display:flex;-ms-flex-positive:1;flex-grow:1;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin:1em 0 .5em}.toolbar .icons{height:1.5em}.toolbar .icons a{margin:0 .5em}.content-body{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 0 1em}.content{display:inline-block;position:relative;margin:0;padding:.5em;border-radius:.21em}.content img{display:block;display:inline-block;width:100%;min-height:100%;margin:0;padding:0;-o-object-fit:contain;object-fit:contain;z-index:1}.edit-nav,.edit-nav a,.edit-nav li{width:auto;text-align:center}.edit-nav{position:-webkit-sticky;position:sticky;top:0;min-width:4em;z-index:3}.edit-nav li{display:inline-block}.edit-nav a{display:block;padding:.5em}.edit-nav small{display:none;font-size:.8em}.edit-nav .user-info{display:none;width:100%;padding:.6em .6em 1em;text-align:left}@media (min-width:30em){.content-header,main{-webkit-box-orient:horizontal;-webkit-box-direction:normal}main{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-line-pack:stretch;align-content:stretch;margin:0 auto}.content-header{-ms-flex-direction:row;flex-direction:row}}@media (min-width:40em){.content-body{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}.content-body img{max-height:80vh}}@media screen and (min-width:40em){.edit-nav .user-info .user-name,.edit-nav small{display:inline-block}.content .image{height:20em}.content{max-width:15em}.edit-nav{min-width:10em;max-width:10em}.edit-nav small{height:100%;margin:auto 0;vertical-align:center}.edit-nav svg{margin-right:1em}section.edit-nav a{text-align:left;display:-webkit-box;display:-ms-flexbox;display:flex}}@media screen and (min-width:55em){form{-ms-flex-negative:1;flex-shrink:1}}@media screen and (min-width:30em){.edit-nav li{display:inline-block;width:100%}.edit-nav a{display:block;position:relative;height:1em;padding:1em;color:#000;text-align:center}.user-info .user-name{display:none}.edit-nav .user-info{box-sizing:border-box;display:block;display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;border-bottom:.1em solid #000}.edit-nav .user-name{display:inline-block;margin:.4em .5em}.edit-nav .user-info small{display:block;font-weight:400}.edit-nav .user-info img{display:inline-block;width:3em;height:3em;border-radius:50%}}
    </style>
    <noscript>
        <link rel="stylesheet" href="/css/style.css">
    </noscript>
    <title>Digital content | {{title}}</title>
</head>

<body class="{{pagelayout}}">
    <header role="banner">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if rights.logedin}}
                    <li><a href="/admin">Admin</a> </li>
                    <li class="right"><a href="/users/logout">log out</a></li>
                {{else}}
                    <li class="right"><a href="/users/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        <div class="warning none animate" role="alert" id="error-popup">
            <small id="error-popup-content"></small>
        </div>
        {{{body}}}
    </main>
    <script>
      !function(e){"use strict";var t=function(t,n,o){function i(e){return s.body?e():void setTimeout(function(){i(e)})}function r(){a.addEventListener&&a.removeEventListener("load",r),a.media=o||"all"}var d,s=e.document,a=s.createElement("link");if(n)d=n;else{var l=(s.body||s.getElementsByTagName("head")[0]).childNodes;d=l[l.length-1]}var f=s.styleSheets;a.rel="stylesheet",a.href=t,a.media="only x",i(function(){d.parentNode.insertBefore(a,n?d:d.nextSibling)});var u=function(e){for(var t=a.href,n=f.length;n--;)if(f[n].href===t)return e();setTimeout(function(){u(e)})};return a.addEventListener&&a.addEventListener("load",r),a.onloadcssdefined=u,u(r),a};"undefined"!=typeof exports?exports.loadCSS=t:e.loadCSS=t}("undefined"!=typeof global?global:this),loadCSS("/css/style.css");
    </script>
    <script src="/js/app.js" language="javascript"></script>
</body>

</html>
