 {{> nav}}

<section class="main-content scrollable">
    <section class="content-header">
        <h1>Add a Poster or movie</h1>
    </section>
    <section class="content-body add-content">
        <form action="{{postUrl.general}}" method="post" enctype="multipart/form-data">
            {{#if error}}
                <div class="error">
                    {{error}}
                </div>
            {{/if}}
            <div>
                <ul id="radio-option-field">
                    <li>
                        <input type="radio" name="type" value="poster" id="field-content" checked>
                        <label for="field-content">Poster</label>
                    </li>
                    <li>
                        <input type="radio" name="type" value="vimeo" id="field-vimeo">
                        <label for="field-vimeo">Vimeo video</label>
                    </li>
                </ul>
            </div>
            <div class="file-input">
                <span class="filename" id="filename">Select your file</span>
                <label for="field-file" class="btn btn-default ">Browse
                    <input type="file" name="imageFile" for="hio" value="" id="field-file">
                </label>
            </div>
            <div id="vimeo-id-input">
                <label for="field-vimeo-id">Vimeo id:
                    <div class="info-tooltip">
                        {{> svg/info}}
                        <p>The last numbers of the viemo url.</p>
                    </div>
                </label>
                <input type="text" id="field-vimeo-id" name="vimeoId" value="{{data.general.vimeoId}}" placeholder="125229524">
                <p class="error" id="vimeo-id-error"></p>
            </div>

            <div>
                <label for="field-name">Title:
                    <div class="info-tooltip">
                        {{> svg/info}}
                        <p>This will be shown in the CMS. So you know what kind of poster it is.</p>
                    </div>
                </label>
                <input type="text" id="field-name" name="name" value="{{data.general.name}}" placeholder="Won't show in the slideshow">
            </div>
            <div id="vimeo-image">
                <label for="field-vimeoImage">Vimeo preview image:
                    <div class="info-tooltip">
                        {{> svg/info}}
                        <p>This is the url to the preview form the vimeo video.</p>
                    </div>
                </label>
                <input type="text" id="field-vimeoImage" name="vimeoImage" value="/download/no-poster.png" placeholder="https://vimeo.com/image">
            </div>
            <div>
                <label for="field-discription">Discription:
                    <div class="info-tooltip">
                        {{> svg/info}}
                        <p>This will be shown in the CMS so the adminstrator knows where the poster is going about.</p>
                    </div>
                </label>
                <textarea name="discription" rows="2" cols="40"  id="field-discription" placeholder="Won't show in the slideshow">{{data.general.discription}}</textarea>
            </div>
            <div>
                <label for="field-animation">Animation:
                    <div class="info-tooltip">
                        {{> svg/info}}
                        <p>The incomming transision from the poster.</p>
                    </div>
                </label>
                <div class="select-icon">
                    <select class="" name="animation" id="field-animation">
                        <option value="fadein">fade in</option>
                        <option value="top-push">push from top</option>
                        <option value="left-push">push from left</option>
                    </select>
                </div>
            </div>
            <div>
                <label for="field-color">Background color:
                    <div class="info-tooltip">
                        {{> svg/info}}
                        <p>If the poster has not the right size for the screen. This will be the collor of the background of the poster. On <a href="https://duckduckgo.com/?q=colorpicker" target="_blank">this site</a> you can pick a color.</p>
                    </div>
                </label>
                <input type="color" name="color" id="field-color" value="{{data.general.color}}" placeholder="#FFCC00 (background of the slideshow)">
                <p class="error" id="color-error"></p>
            </div>
            <div>
                <label for="field-duration">Duration:
                    <div class="info-tooltip">
                        {{> svg/info}}
                        <p>This is the time how long the poster will be shown on the display.</p>
                    </div>
                </label>
                <input type="number" id="field-duration" name="duration" min="10" max="400" value="{{data.general.duration}}" placeholder="30 (s)" required>
            </div>
            <div>
                <label for="field-date-start">Start date:
                    <div class="info-tooltip">
                        {{> svg/info}}
                        <p>On which date must the poster be started to be shown.</p>
                    </div>
                </label>
                <input type="date" id="field-date-start" name="dateStart" value="{{data.general.dateStart}}" min="01-06-2016" placeholder="DD-MM-JJJJ" required>
                <p class="error" id="date-start-error"></p>
            </div>
            <div>
                <label for="field-date-end">End date:
                    <div class="info-tooltip">
                        {{> svg/info}}
                        <p>Tho which date should the poster be on the display.</p>
                    </div>
                </label>
                <input type="date" id="field-date-end" name="dateEnd" value="{{data.general.dateEnd}}" min="01-06-2016" placeholder="DD-MM-JJJJ" required>
                <p class="error" id="date-end-error"></p>
            </div>
            <button class="btn btn-default top-margin"  {{#unless rights.admin}} onclick="alert('Your poster will be checked by the admin.')"  {{/unless}}>Submit</button>
            <a href="/admin/content" class="btn top-margin" type="submit">Cancel</a>
        </form>
        <section class="preview" id="preview">
            <h2>Preview of the poster</h2>
            <div class="preview-size">
                <img src="/img/no-screen.jpg" alt="" id="input-preview" class="img-preview animate" />
            </div>
        </section>
    </section>
</section>
