 {{> nav}}
<section class="main-content scrollable">
    <section class="content-header">
        <h1>{{data.general.name}} </h1>
        <span>{{#datefronow data.general.dataCreated}}{{/datefronow}}</span>
    </section>
    <section class="content-body detail">
        <section>
            {{#checktype data.general.type equals="poster" }}
                <img src="/download/{{data.general.filename}}" alt="{{type}}" />
            {{/checktype}}

            {{#checktype data.general.type equals="vimeo" }}
                <iframe id="player1" src="https://player.vimeo.com/video/{{data.general.vimeoId}}?api=1&?portrait=0&?title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {{/checktype}}
        </section>
        <section>
            <h2>Discription</h2>
            <p>
                {{{data.general.discription}}}
            </p>
            {{#if rights.admin}}
                {{#checktype data.general.checked equals="0" }}
                    <form action="{{postUrl.general}}" method="post">
                        <div class="select-icon">
                            <select name="decision">
                                <option value="true">Accept</option>
                                <option value="false">Decline</option>
                            </select>
                        </div>
                        <button type="submit" value="{{data.general.id}}" name="posterId" class="btn btn-accept fullwith">Save</button>
                    </form>
                {{/checktype}}
            {{/if}}
            <table>
                <tr>
                    <th>Duration</th>
                    <td>{{data.general.duration}} s</td>
                </tr>
                <tr>
                    <th>Animation</th>
                    <td>{{data.general.animation}}</td>
                </tr>
                <tr>
                    <th>type</th>
                    <td>{{data.general.type}}</td>
                </tr>
                <tr>
                    <th>Begin date</th>
                    <td>
                        {{#dateformat data.general.dateStart}}{{/dateformat}}
                    </td>
                </tr>
                <tr>
                    <th>End date</th>
                    <td>
                        {{#dateformat data.general.dateEnd}}{{/dateformat}}
                    </td>
                </tr>
            </table>

        </section>
    </section>
</section>
